/* ==========================================================================
    #RESET
     ========================================================================== */
/**
   * A very simple reset that sits on top of Normalize.css.
   */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    min-height: 100vh;
}

/* ==========================================================================
    #BACKGROUND
     ========================================================================== */

.bg_gradient_twoColors {
    /* background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%); */
    background: rgb(0,205,207);
    background: linear-gradient(50deg, rgba(0,205,207,1) 0%, rgba(0,121,128,1) 100%);
}

.p-t-180 {
    padding-top: 180px;
}


/* Foto Perfil */
.fotoPerfil_profesorView {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoPerfil_profesorView .cajaImg_profesorView {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.5s;
}

.fotoPerfil_profesorView .cajaImg_profesorView img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Foto Perfil */
/*  */
/*  */
/*  */


.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #6c077d;
    color: #fff;
    cursor: pointer;
}

.bg_dark_text_light {
    color: #fff;
    background-color: #212529;
}

.social {
    color: #6c077d;
}

.cajaImg_profesor {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.5s;
}
